.banner{
    height: 400px;
   background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Assets/images/banner.jpg");
}
.btnbaner{
    height: 60px;
}
.btnbaner:hover{

    background-color: none !important;
    border: 3px solid #fff;
}
.texbanner{
    text-align: justify;
}
.textTitle{
    font-weight: 600;
}