.banner{
    height: 400px;
    background-position: top;
    background-size: cover;
    background-image: url("../Assets/images/Your-Utility-and-Energy-or-Electricity-Company-Whats-the-Difference-e1623213826345.jpg");
}
